<!-- Awards Section -->
<div class="awards">
  <h2>Awards & Honors</h2>
  <table class="table table-sm table-borderless">
    <tbody>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2025.1</b></td>
        <td>International Conference on Multimedia Modeling (MMM) 2025 &mdash; <b>Best Paper Award</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2024.12</b></td>
        <td>ACM Multimedia Asia 2024 &mdash; <b>Best Student Paper Runner-Up</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2022.7</b></td>
        <td>China Multimedia Company Innovation Technology Award</td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2020</b></td>
        <td>IEEE Transactions on Multimedia &mdash; <b>Outstanding Reviewer Award</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2019.6</b></td>
        <td>CVPR 2019, ActivityNet Challenge, ActivityNet Captions Track &mdash; <b>1st Place</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2019.5</b></td>
        <td>CVPR 2019, VQA and Dialog Workshop, VQA Challenge &mdash; <b>2nd Place</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2018.10</b></td>
        <td>ACM Multimedia 2018 &mdash; <b>Best Paper Award</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2018.7</b></td>
        <td>FashionAI Challenge, Attribute Recognition Task (Alibaba) &mdash; <b>3rd Place / 2950 teams</b></td>
      </tr>
      <tr>
        <td class="award-date text-nowrap pr-3"><b>2014&ndash;2016</b></td>
        <td>Asian Future Leaders Scholarship &mdash; Fellowship funded by the Bai Xian Education Foundation</td>
      </tr>
    </tbody>
  </table>
</div>
